<%= erb :'utilities/nav' %>

<section id="main-portfolio">

  <%= erb :'projects/editorially' %>
  <%= erb :'projects/foxycart' %>
  <%= erb :'projects/splitsecnd' %>
  <%= erb :'projects/numbergarage' %>
  <%= erb :'projects/reaction' %>
  <%= erb :'projects/streamweaver' %>
  <%= erb :'projects/centresource' %>
  <%= erb :'projects/ouradventure' %>

</section>
